    #diss{
        background-color: lightskyblue;
        display: inline-block;
        border-radius: 10%;
        padding: 30px;
        color: rgb(14, 14, 84);
        font-family: 'Courier New', Courier, monospace;
        font-size:14px;
        line-height: 1.5;
        font-weight: 600;
        font-style: italic;
        margin-left: 25vw;
        margin-top: 50px;
    }

    #diss:hover{
        background-color: rgb(223, 223, 244);
        margin-left: 27vw;
        transition: all 0.75s ease;
        padding: 120px;
    }

    body{
        background-image: url(../doga.jpg);
        background-repeat: repeat-x;
        
    }